<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">AdMe</a>
      <% if (path == "/register/advertiser" || path == "/register/user") { %>
        <ul class="right hide-on-med-and-down">
          <li><a href="/" class="waves-effect waves-teal btn-flat">Login</a></li>
        </ul>
      <% } else { %>
        <ul class="right hide-on-med-and-down">
          <li><a href="/" class="waves-effect waves-teal btn-flat">View Stats</a></li>
        </ul>
      <% } %>
    </div>
  </nav>
</div>
