

<% if (path == '/users/:id/stats') { %>
  <div>
    <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
  </div>
<% } else if (path == '/view') { %>
  <div>
    <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
  </div>
<% } %>
