<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AdMe</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/styles/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/styles/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/scripts/materialize.js"></script>
    <script src="/scripts/init.js"></script>
    <% include _topnav.ejs %>
  </head>

  <body>

    <div class="row">
    <form class="col s8" action="/register/user" method="POST">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="first_name" name="userName" type="text" class="validate">
          <label for="first_name">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input disabled value="User" name="roleUser" id="disabled" type="text" class="validate">
          <label for="disabled">Role</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" name="userPassword"class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" name="userEmail"class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
  </body>
</html>
