<!DOCTYPE html>
<html lang="en">
  <head>
  </head>

  <body>
    <% include _topnav %>
  <div class="row">
    <% for (let each of products) { %>
      <% include partials/_ads %>
    <% } %>
  </div>

  </body>
</html>
