<!DOCTYPE html>
<html lang="en">

  <head>
    <title>AdMe</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    
    <!-- Fonts  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/styles/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>

    <!-- CSS file to overwrite Materialize, if necessary
    <link href="/styles/style.css" type="text/css" rel="stylesheet" media="screen,projection" /> -->

  </head>

  <body>
    
    <% include partials/_topnav %>

    <div class="row">
      <br>
      <% for (let each of products) { %>
        <% include partials/_ads %>
      <% } %>
    </div>

  </body>
</html>
