/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#form-login{
  display: flex;
  align-items: center;
  justify-content: center;
}

#form-register{
  display: flex;
  align-items: center;
  justify-content: center;
}

form{
  text-align: left;
  width: 100%;
}

.button-collapse{
  display: inherit;
}
@media screen and (orientation: portrait) {
  img.activator { max-width: 90%; }
}

@media screen and (orientation: landscape) {
  img.activator { max-height: 90%; }
}


body{ margin:0px 0px; }


@media (max-width: 400px) {
  .row .col {
    float:none !important;
  }

  .row .col.s3 {
  width: 100% !important;
}
}
