/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#form-login{
  display: flex;
  align-items: center;
  justify-content: center;
}

#form-register{
  display: flex;
  align-items: center;
  justify-content: center;
}

form{
  text-align: left;
  width: 100%;
}

form.col.s12{

}
body{ margin:0px 0px; }
