/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#form-login{
  display: block;
  text-align: center;
}

form.col.s8{
  width: 100%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;

}

form.col.s12{

}
body{ margin:0px 0px; }

#hero{
  background-image: url(/Image01.jpg);
  background-size:contain;
  position:relative;
  height:90vh;
}
